.container{
    animation : transitionIn 1s;
    margin-top : 30px;
    margin-left : 0px;
    background-color : rgb(250, 249, 249);
    width : 60%;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    border : none;
    padding : 40px;
    box-shadow : 0 0 5px 5px rgba(214, 206, 206, 0.3)
    
}

.separator{
    
    background-color : rgb(190, 184, 184);
    height : 2px;
    width : 100%;
    margin : auto;
    margin-bottom : 30px;
}
.heading{
    font-size: 30px;
    color : white;
    background-color : rgb(255, 72, 0);
    display : flex;
    justify-content : center;
    padding : 10px;
    border-radius : 8px;
}
.calories {
    color : white;
    background-color : rgb(51, 160, 51);
    display : flex;
    justify-content : center;
    width : 60%;
    margin : auto;
    padding : 5px 0;
    border-radius : 4px;
    margin-bottom : 20px;
}
.content{
    /* display : flex; */
}
.container > * {

}
.ingredientsList img {
    width : 30px ;
    height : 30px;
    display : flex;
    margin : auto;
}

.image{
    width : 300px;
    height : 300px;
    display : block;
    margin : auto;
    margin-bottom : 30px;
    margin-top : 10px;
    box-shadow : 0 0 10px 5px rgb(126, 124, 124,0.3)
}
.ingredient {
    font-weight : bolder;
    color : white;
    display : flex;
    width : 100%;
    padding : 10px 0;
    justify-content : center;
    background-color : rgb(51, 160, 51);
}
.list > li{
    font-weight: 500;
}

.chart {
    margin-left : auto;
    margin-right : auto;
    
    flex : 1;
}
.chart> h1{
    font-size : 35px;
    font-weight : bolder;
    text-decoration: underline;
}
.data > h1{
    font-size : 35px;
    font-weight : bolder;
    text-decoration: underline;
}

.ingredientsList{
    box-sizing : border-box;
    border : none;
    border-radius : 8px;
    width : 80%;
    padding : 15px;
    box-shadow : 0 0 5px 0 rgba(0,0,0,0.3);
    display : flex;
    flex-direction : column;
    margin : auto;
    margin-bottom : 30px;
    
}

.data {
    flex :2;
    
}

.piechart{
    border : 2px solid black;
    
}

@keyframes transitionIn {
    from {
        opacity : 0;
        transform : rotateX(-360);
    }

    to {
        opacity : 1;
        transform : rotateX(0)
    }
}

