*{
    font-family: 'Poppins', sans-serif;
    
}

body{
    background: url(./images/transparent.jpg) no-repeat center center fixed;
    -webkit-background-size : cover;
    background-size : cover;
}
.home {
    color : black;
    margin-left : 100px;
    margin-top : 50px;
    position : sticky;
    padding : 5px 20px 5px 20px;
    display : inline-block;
    background : linear-gradient(to right , #02aab0 , #00cdac);
}

a {
    text-decoration : none;
}

.main{
    display :flex;
    align-items : center;
    flex-direction : column;
    justify-content : space-evenly;
}
.search_form{
    /* background-color : #00cdac; */
    background : linear-gradient(to right , #02aab0 , #00cdac);
    position : sticky
    
}
.search_form > i{
    padding : 0px 20px 0px 20px;
    cursor : pointer;
}
input[type=text]{
    width : 200px;
    height : 40px;
    border : 3px solid #00cdac;
}
section {
    
    margin : 100px;
    padding : 0;
    display : flex;
    width : 85%;
    align-items : center;

}
.cover > img{
    margin-top : 50px;
    height : 70vh;
    width : 600px;
}

.welcome {
    flex : 1;

}
.cover { 
    flex : 1;
    
    justify-content : flex-end;
}

.heading{
    font-size : 45px;
    font-weight : 500;
    background : linear-gradient(to right , #02aab0 , #00cdac);
    margin-right : 150px;
    padding-left : 15px;
}

