*{
    font-family: 'Poppins', sans-serif;
    
}
.home {
    animation : transitionRight 1s;
}
.search_form{
    padding : 3px;
    animation : transitionRight 1s;
}
.search_form i{
    color : white;
}
body{
    background: url(./images/transparent.jpg) no-repeat center center fixed;
    -webkit-background-size : cover;
    background-size : cover;
}
.home {
    color : white;
    font-weight : bolder;
    margin-left : 80px;
    margin-top : 25px;
    position : sticky;
    padding : 5px 20px 5px 20px;
    display : inline-block;
    background-color :  rgb(51, 160, 51);
}

a {
    text-decoration : none;
}

.main{
    display :flex;
    align-items : center;
    flex-direction : column;
    justify-content : space-evenly;
}
.search_form{
    /* background-color : #00cdac; */
    background-color :  rgb(51, 160, 51);
    border-radius : 15px;
    
}
.search_form > i{
    padding : 0px 10px 0px 10px;
    cursor : pointer;
}
input[type=text]{
    width : 200px;
    height : 30px;
    
    border : none;
    outline : none;
    padding : 2px;
    background : transparent;
    color : white ;
    padding : 5px;
}
input[type=text]:focus{
    outline : none;
}
section {
    animation : transitionLeft 1s
}

section {
    
    margin : 100px;
    padding : 0;
    display : flex;
    width : 85%;
    align-items : center;

}
.cover > img{
    margin-top : 50px;
    height : 70vh;
    width : 600px;
}

.welcome {
    flex : 1;

}
.cover { 
    flex : 1;
    
    justify-content : flex-end;
}

.heading{
    font-size : 45px;
    width : 500px;
    font-weight : 500;
    background-color : rgb(51, 160, 51);
    margin-right : 150px;
    padding-left : 15px;
    color : white;
}
.welcome p{
    font-size : 14px;
}
.norecipes{
    margin-top : 150px;
}

.preloader {
    align-items: center;
    
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
  }

  @keyframes transitionLeft {
      from{
        opacity : 0;
        transform : translateX(100%);
      }

      to {
        opacity : 1;
        transform : translateX(0);
      }
  }

  @keyframes transitionRight {
      from {
          opacity : 0;
          transform : translateX(-100%)
        
      }
      to {
          opacity : 1;
          transform : translateX(0)
      }
  }

  